*.html
/autom4te.cache
/stamp-h1
Makefile
/config.status
/config.log
/config.h
/aclocal.m4
Makefile.in
/config/
/config.h.in
/configure
*~
/build*/
/.cache
/m4
/src/idiot
libtool
*.o
*.la
*.so*
*.a
.deps
*.tar*
*.zip
*.lo
*.gcno
*.gcda
app.info
coverage_report
.clang_complete
.ycm_extra_conf.py
compile_commands.json
